










<div class="container">
        
    <%  if(error_msg) { %>
        <ul style="margin-left: 719px;">
            <% error_msg.forEach(function(err) { %>
                <li style="background-color: #f2dede;
                border-color: #ebcccc;
                color: #a94442; margin: 5px 0px; font-size: 15px; width: 518px;"> <strong> <%= err %> </strong></li>
            <% }) %>
        </ul>
    <% } %> 
</div>


</div>














